*{
    padding: 0px;
    margin: 0px;
}
.container{
   
background:url(background2.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;

}
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
 {
    
    .container{
        
            width: 1100px;%;
            height:-50%;
            left:-50%;
            margin:0;
            position: fixed;
            background:url(background2.jpg);

            }
        
       
        }
    
}

 

}
